# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Byte-compiled / optimized / DLL files
*.pyc

# Virtual envs
.venv/
venv/
ENV/
env/

# IDE / editor config
.idea/
.vscode/

# macOS / Windows system files
.DS_Store
Thumbs.db

# Logs / temp
*.log
*.tmp
